<div id="introduce" class="container py-5">
    <div class="row">
      <p class="text-center  mt-3">We are a school, formed in 2005, specialized in active learning and new technologies, in addition to following the standard curriculum. </p>
          <p class="text-center  mt-3">If you want to know more about us, contact us, through the form or send us an email to: school@school.com and we will answer you as soon as possible. </p>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a  [routerLink]="['/']" routerLinkActive="router-link-active"  class="register btn btn-dark btn-lg text-center">Back</a>
    </div>
  </div>
