<div class="d-flex justify-content-center mt-4">
    <a class="register btn btn-success btn-lg text-center me-3" [routerLink]="['listTeachers']" routerLinkActive="router-link-active" >List of teachers</a>
    <a class="register btn btn-success btn-lg text-center me-3" [routerLink]="['addTeacher']" routerLinkActive="router-link-active" >Add a teacher</a>
    <a class="register btn btn-success btn-lg text-center me-3" [routerLink]="['listStudents']" routerLinkActive="router-link-active" >List of students</a>
    <a class="register btn btn-success btn-lg text-center me-3" [routerLink]="['addStudent']" routerLinkActive="router-link-active" >Add a student</a>
  </div>

<router-outlet></router-outlet>

