<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3 text-center">List of teachers</span>
      <h5 style="margin-top: 30px;" *ngIf="teachers.length ==0">No data to show</h5>
      <table *ngIf="teachers.length >0" class="table mt-5 table-striped table-hove">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Subject</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{teacher.name}}</td>
            <td>{{teacher.lastName}}</td>
            <td>{{teacher.subject}}</td>
            <td>{{teacher.salary | currency : " € "}}</td>
            <td><i class="fas fa-edit text-info me-3" [routerLink]="['/editTeacher/',teacher.id]"
                routerLinkActive="router-link-active" title="Edit"></i>
              <i class="fas fa-trash-alt text-danger" (click)="deleteTeacher(teacher.id)" title="Delete"></i></td>
          </tr>
          <!--[routerLink]="['/editEmpleado/',editEmpleado.id]"-->
        </tbody>
      </table>
    </div>
  </div>
</div>
